.contactFont {
  font-family: 'Roboto Mono', serif !important;
}

.contactinfo {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

i {
  padding-left: 1vw;
  transition: color 0.5s ease;
}

i:hover {
  color: #B0BEC5;
}
