nav .brand-logo {
    font-family: 'Pacifico', 'Georgia', 'Times New Roman', sans-serif;
    font-size: 2rem;
    padding-left: 1vw;
}

#nav-mobile li,
#slide-out li {
    font-family: 'Passion One', sans-serif;
}

nav {
    background-color: rgba(45, 56, 46, 0.829);
}

.sidenav {
  opacity: 0.8;
  width: 150px;
}

@media only screen and (max-width: 600px) {
    nav .brand-logo {
      font-size: 1rem;
    }
  }