.exampleBox {
  background-color: aliceblue;
  color: aliceblue;
  height: 30vw;
  width: 30vw;
  border-radius: 5px;
}

.Box-content {
  padding: 10px;
}

iframe {
  border: 0; 
  width: 100%; 
  height: 120px;
}