h3 {
  text-shadow: 1px 1px rgba(45, 56, 46, 0.6);
}

div.collapsible-header {
  font-weight: bold;
  transition: color 0.5s ease;
}

#mySite {
  color: inherit;
  transition: color 0.3s ease;
}

div.collapsible-header:hover {
  color: #B0BEC5;
}
