.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: linear-gradient(180deg, #ac5555 1%, #e0635a 51%, #ac5555 75%, #ad3535 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 247, 247);
}

.App-link {
  color: #09d3ac;
}

/* Hohm-brew */

p {
  text-align: left;
}

.clientName {
  margin: 0%;
  font-size: 1rem;
}